form {
    text-align:  center;
}

body {
    background-color: rgb(223, 247, 191);
}

button {
    padding: 10px;
    color: white;
    background-color: rgb(244, 81, 95);
    border-radius: 10px;
    margin-left: 10px;
}
